{{>partials/header}}

<section>
    <div class="section-area">
        <div class="section-title">
            <h3>Escola de Missões Planetária - 2ª Temporada</h3>
        </div>
        <div class="modal-login">
            <div class="modal-login-body">
                <section class="area-login modal">
                    <div class="login">
                        {{#danger}}
                            <div class="notification danger">
                                <p>Login e/ou senha inválidos.</p>
                            </div>
                        {{/danger}}
                        {{^danger}}
                        {{/danger}}
                        <form action="/signin" method="POST">
                            <input
                                name="email"
                                type="email"
                                autocomplete="email"
                                placeholder="Login"
                                autofocus
                            />
                            <input
                                name="password"
                                autocomplete="current-password"
                                type="password"
                                placeholder="Senha"
                            />
                            <input type="submit" value="Entrar" />
                        </form>
                        <p class="login-p">
                        <a href="https://www.pazkids.com.br/forgot">Esqueceu sua senha?</a><br>
                            Ainda não tem uma conta? <a href="https://www.pazkids.com.br/signup">Criar conta</a>
                        </p>
                        <div class="exit" onclick="closeModal()">
                            X
                        </div>
                    </div>
                </section>
            </div>
        </div>
         {{#episodes}}
                <div class="terra-prometida mrg-top">
                    <div class="thumb-backarea">
                        <div id="thumb" class="thumbnail">
                            <img
                                src="{{ img }}"
                                alt=""
                                srcset=""
                            />
                        </div>
                        <div class="info-episode">
                            <div class="episode-title">
                                <h3>Episódio <span id="ep">{{ episodio }}</span>:</h3>
                                <h4><span id="name">{{ name }}</span></h4>
                            </div>
                            <div class="episode-buttons a-b">
                                <a id="tp-download" href="{{ #linkDown }}{{ download }}{{ /linkDown }}{{ ^linkDown }}#!" onClick="openModal(){{ /linkDown }}" target="">
                                    <button class="bt-download item-1">
                                        Download
                                    </button>
                                </a>
                                <a id="tp-slides" href="{{ #linkDown }}{{ slides }}{{ /linkDown }}{{ ^linkDown }}#!" onClick="openModal(){{ /linkDown }}" target="">
                                    <button class="bt-slides item-2">
                                        Slides
                                    </button>
                                </a>
                                <a id="tp-youtube" href="{{ #linkDown }}{{ youtube }}{{ /linkDown }}{{ ^linkDown }}#!" onClick="openModal(){{ /linkDown }}" target="">
                                    <button class="bt-youtube item-3">
                                        Youtube
                                    </button>
                                </a>
                                <a id="tp-lifekids" href="{{#linkDown }}{{ lifekids }}{{ /linkDown }}{{ ^linkDown }}#!" onClick="openModal(){{ /linkDown }}" target="">
                                    <button class="bt-lifekids item-4">
                                        Lifekids
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        {{/episodes}}
    </div>
    <div class="break-space"></div>
    </section>

{{>partials/footer}}