{{>partials/header}}

<section>
    <div class="section-area notFound">
        <h1>Página não encontrada!</h1>
        <a href="https://pazkids.com.br/"><h2>Voltar à pagina inicial</h2></a>
    </div>

    <div class="break-space"></div>
</section>

{{>partials/footer}}