{{>partials/header}}

<section>
    <div class="section-area">
        <div class="section-title">
            <h3>Aventura Bíblica</h3>
        </div>
        {{#episodes}}
        <div class="aventura-biblica mrg-top">
            <div class="thumb-backarea">
                <div id="thumb" class="thumbnail">
                    <img
                        src="{{ img }}"
                        alt=""
                        srcset=""
                    />
                </div>
                <div class="info-episode">
                    <div class="episode-title">
                        <h3>Episódio <span id="ep"></span>:</h3>
                        <h4><span id="name">{{ name }}</span></h4>
                    </div>
                    <div class="episode-buttons a-b">
                        <button id="download" class="bt-download item-1">
                            <a href="{{ download }}" target="_blank">Download</a>
                        </button>
                        <button id="material" class="bt-material item-2">
                            <a href="{{ materiais }}" target="_blank">Material</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {{/episodes}}
    </div>
    <div class="break-space"></div>
</section>

{{>partials/footer}}