{{>partials/header}}

<section>

    <div class="section-area">
            <div class="discipulador">
                <h1>Discipulado Pais e Filhos | Dica para os pais</h1>
                <div class="responsive-video">
                    <iframe width="840" height="473" src="https://www.youtube.com/embed/g0rjdaIcK9k?si=hzCoQkFh7o3qpd_1&amp;controls=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        <div class="break-space"></div>
    </div>
</section>

{{>partials/footer}}