{{>partials/header}}

    <section>
        <div class="section-area">
            <div class="section-title">
                <h3>Recursos Diversos</h3>
            </div>
            <div class="modal-login">
                <div class="modal-login-body">
                    <section class="area-login modal">
                        <div class="login">
                            {{#danger}}
                                <div class="notification danger">
                                    <p>Login e/ou senha inválidos.</p>
                                </div>
                            {{/danger}}
                            {{^danger}}
                            {{/danger}}
                            <form action="/signin" method="POST">
                                <input
                                    name="email"
                                    type="email"
                                    autocomplete="email"
                                    placeholder="Login"
                                    autofocus
                                />
                                <input
                                    name="password"
                                    autocomplete="current-password"
                                    type="password"
                                    placeholder="Senha"
                                />
                                <input type="submit" value="Entrar" />
                            </form>
                            <p class="login-p">
                            <a href="https://pazkids.com.br/forgot">Esqueceu sua senha?</a><br>
                                Ainda não tem uma conta? <a href="https://pazkids.com.br/signup">Criar conta</a>
                            </p>
                            <div class="exit" onclick="closeModal()">
                                X
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="rec">
                <div class="rec-img">
                    <img id="logorec" src="/assets/images/recursos/manual.png">
                </div>
                <div class="rec-desc">
                    <h3> MANUAL DE SEGURANÇA </h3>
                    <div class="rec-desc-desc">
                        <p>
                            Acesse o manual de boas práticas para atuação no Paz Kids.
                        </p>
                        <br/>
                        <a class="none link-rec" {{ #linkDown }} target="blank" href="https://drive.google.com/file/d/1k-pmk1dM7SMz8G-yPwCmoI3gGAGRVyS6/view?usp=sharing">{{ /linkDown }}{{ ^linkDown }}href="#!" onClick="openModal()">{{ /linkDown }}<h3>Clique aqui</h3></a>
                    </div>
                </div>
            </div>
            <div class="rec">
                <div class="rec-img">
                    <img id="logorec" src="/assets/images/recursos/my-kids.png">
                </div>
                <div class="rec-desc">
                    <h3> APP DO CHECK-IN </h3>
                    <div class="rec-desc-desc">
                        <p>
                            Acesse o site do aplicativo para check-ins que usamos no Paz Kids.
                        </p>
                        <br/>
                        <a class="none link-rec" {{ #linkDown }} target="blank" href="https://appmykids.com.br/">{{ /linkDown }}{{ ^linkDown }}href="#!" onClick="openModal()">{{ /linkDown }}<h3>Clique aqui</h3></a>
                    </div>
                </div>
            </div>
            <div class="rec">
                <div class="rec-img">
                    <img id="logorec" src="/assets/images/recursos/placas.png">
                </div>
                <div class="rec-desc">
                    <h3> CARTAZES DE PLANEJAMENTO </h3>
                    <div class="rec-desc-desc">
                        <p>
                            Faça download dos cartazes que exibimos na sala para orientação da aula.
                        </p>
                        <br/>
                        <a class="none link-rec" {{ #linkDown }} target="blank" href="https://www.mediafire.com/file_premium/8im4479z4jt2pmf/CARTAZES_DE_PLANEJAMENTO.pdf/file">{{ /linkDown }}{{ ^linkDown }}href="#!" onClick="openModal()">{{ /linkDown }}<h3>Clique aqui</h3></a>
                    </div>
                </div>
            </div>
            <div class="rec">
                <div class="rec-img">
                    <img id="logorec" src="/assets/images/recursos/logo.png">
                </div>
                <div class="rec-desc">
                    <h3> LOGO PAZ KIDS </h3>
                    <div class="rec-desc-desc">
                        <p>
                            Tenha acesso às variantes da logomarca acessando nossa nuvem.
                        </p>
                        <br/>
                        <a class="none link-rec" {{ #linkDown }} target="blank" href="https://drive.google.com/drive/folders/1JqYZ_LLViMVT3aMvEr4wwAqa6auz5EJV?usp=sharing">{{ /linkDown }}{{ ^linkDown }}href="#!" onClick="openModal()">{{ /linkDown }}<h3>Clique aqui</h3></a>
                    </div>
                </div>
            </div>
            <div class="break-space"></div>
        </div>
    </section>

{{>partials/footer}}