{{>partials/header-pn}}

<section>
    <div class="section-area">
        <div class="prog-month">
            <h3>Programação</h3>
            <hr />
            <div class="month">
                <a href="http://localhost:3000/"><h4 class="prevMonth">{{ monthName }}</h4></a>
                <h4 class="monthCenter">{{ nextMonthName }}</h4>
            </div>
        </div>
        <div class="aventura-biblica">
            <div class="grade">
                <h3>Aventura Bíblica</h3>
                <h4>(2-6 Anos)</h4>
            </div>

            <div class="thumb-backarea">
                <div class="thumbnail">
                    <img src="{{ episodeAbToShow.img }}" alt="" srcset="" />
                </div>
                <div class="info-episode">
                    <div class="episode-title">
                        <h3>Episódio:</h3>
                        <h4>{{ episodeAbToShow.name }}</h4>
                    </div>
                    <div class="episode-buttons a-b">
                        <button class="bt-download item-1">
                            <a href="{{ #linkDown }}{{ episodeAbToShow.download }}{{ /linkDown }}{{ ^linkDown }}#{{ /linkDown }}" target="_blank">Download</a>
                        </button>
                        <button class="bt-material item-2">
                            <a href="{{ #linkDown }}{{ episodeAbToShow.materiais }}{{ /linkDown }}{{ ^linkDown }}#{{ /linkDown }}" target="_blank">Material</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="terra-prometida">
            <div class="grade">
                <h3>Terra Prometida</h3>
                <h4>(7-12 Anos)</h4>
            </div>
            {{ #episodeTpToShow }}
            <div class="cardTp">
                <div class="thumb-backarea">
                    <div class="thumbnail">
                        <img
                            id="tp-thumb"
                            src="{{ img }}"
                            alt=""
                            srcset=""
                        />
                    </div>
                    <div class="info-episode">
                        <div class="episode-title">
                            <h3>Episódio:</h3>
                            <h4 id="tp-name">{{ name }}</h4>
                        </div>
                        <div class="episode-buttons t-p">
                            <button class="bt-download item-1">
                                <a id="tp-download" href=" {{ #linkDown }}{{ download }}{{ /linkDown }}{{ ^linkDown }}#{{ /linkDown }} " target=""
                                    >Download</a
                                >
                            </button>
                            <button class="bt-slides item-2">
                                <a id="tp-slides" href=" {{ #linkDown }}{{ slides }}{{ /linkDown }}{{ ^linkDown }}#{{ /linkDown }} " target="">Slides</a>
                            </button>
                            <button class="bt-youtube item-3">
                                <a id="tp-youtube" href="{{ #linkDown }}{{ youtube }}{{ /linkDown }}{{ ^linkDown }}#{{ /linkDown }}" target=""
                                    >Youtube</a
                                >
                            </button>
                            <button class="bt-lifekids item-4">
                                <a d="tp-lifekids" href="{{ #linkDown }}{{ lifekids }}{{ /linkDown }}{{ ^linkDown }}#{{ /linkDown }}" target=""
                                    >Lifekids</a
                                >
                            </button>
                        </div>
                    </div>
                </div>
                <div class="weeks">
                    <div class="weeks-area">
                        <button class="week-menos" onclick="prevWeek()">-</button>
                        <div class="week-actual">
                            <h4>{{ showAt }}</h4>
                        </div>
                        <button class="week-mais" onclick="nextWeek()">+</button>
                    </div>
                </div>
            </div>
            {{ /episodeTpToShow }}
        </div>
    </div>
    <div class="break-space"></div>
</section>

{{>partials/footer}}