<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width,minimum-scale=1, initial-scale=1.0"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <title>Paz Kids | Recuperar a Senha</title>
        <link rel="stylesheet" href="assets/css/style.css"/>
        <script type="text/javascript" src="assets/js/signup.js" defer></script>
        {{! <script type="text/javascript" src="assets/js/recover.js" defer></script> }}
    </head>
    <body class="login-page">
        <section class="area-login">
            <div class="login forgot">
                {{#danger}}
                <div class="notification danger">
                    <p>{{ message }}</p>
                </div>
                {{/danger}}
                {{^danger}}
                {{/danger}}
                {{#success}}
                <div class="notification is-sucess forgot">
                    <p>Acabamos de enviar um e-mail com um link para você reestabelecer a sua senha.</p>
                </div>
                {{/success}}
                {{^success}}
                {{/success}}
                <h2>
                    Criar uma nova senha
                </h2>
                <form id="register" action="/recover" method="POST">
                    <input
                        id="password"
                        name="password"
                        type="password"
                        class="inputs"
                        autocomplete="new-password"
                        placeholder="Nova senha"
                        onkeyup="checkPassword()"
                        autofocus
                        required
                    />
                    <input
                        id="confirm-password"
                        name="confirm_password"
                        type="password"
                        class="inputs"
                        placeholder="Confirmar nova senha"
                        onkeyup="checkPassword()"
                        required
                    />
                    <input
                    name="email"
                    type="hidden"
                    value="{{ email }}"
                    />
                    <input
                    name="token"
                    type="hidden"
                    value="{{ token }}"
                    />
                </form>
                <div class="btns-forgot">
                    <div class="btn-voltar">
                        <a href="https://pazkids.com.br/signin">
                            <button id="voltarForgot">Voltar</button>
                        </a>
                    </div>
                    <div class="btn-forgot">
                        <input id="finalizarForgot" form="register" type="submit" value="Enviar" />
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
