{{>partials/header}}

    <section>
        <div class="section-area">
            <div class="section-title">
                <h3>Treinamento</h3>
            </div>
            <div class="modal-login">
                <div class="modal-login-body">
                    <section class="area-login modal">
                        <div class="login">
                            {{#danger}}
                                <div class="notification danger">
                                    <p>Login e/ou senha inválidos.</p>
                                </div>
                            {{/danger}}
                            {{^danger}}
                            {{/danger}}
                            <form action="/signin" method="POST">
                                <input
                                    name="email"
                                    type="email"
                                    autocomplete="email"
                                    placeholder="Login"
                                    autofocus
                                />
                                <input
                                    name="password"
                                    autocomplete="current-password"
                                    type="password"
                                    placeholder="Senha"
                                />
                                <input type="submit" value="Entrar" />
                            </form>
                            <p class="login-p">
                            <a href="https://www.pazkids.com.br/forgot">Esqueceu sua senha?</a><br>
                                Ainda não tem uma conta? <a href="https://www.pazkids.com.br/signup">Criar conta</a>
                            </p>
                            <div class="exit" onclick="closeModal()">
                                X
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="rec">
                <div class="rec-img">
                    <img id="logorec-pbs" src="/assets/images/recursos/logo-bible-school.png">
                </div>
                <div class="rec-desc">
                    <h3 style=""> PLATAFORMA DE TREINAMENTO </h3>
                    <div class="rec-desc-desc">
                        
                            Seja bem-vindo(a) a nossa nova plataforma de treinamento. Entre muitos cursos ministeriais da Paz Church, você encontrará os cursos de treinamento do Paz Kids.
                    
                        <br/>
                        <br/>
                        <a class="none link-rec" href="https://www.pazbibleschool.com"><h3>Clique aqui</h3></a>
                    </div>
                </div>
            </div>
            
            <div class="rec">
                <div class="rec-img">
                    <img id="logorec-conf" src="/assets/images/recursos/conf-23.png">
                </div>
                <div class="rec-desc">
                    <h3> Conferência Paz Kids 2023 </h3>
                    <div class="rec-desc-desc">
                        <p>
                            Acesse as ministrações da nossa Conferência Paz Kids 2023.
                        </p>
                        <br/>
                        <a class="none link-rec" href="https://drive.google.com/drive/folders/1_EwH0vYyT-AIXA4A4F0O_2ALI1C55n0x?usp=sharing"><h3>Clique aqui</h3></a>
                    </div>
                </div>
            </div>
            <div class="break-space"></div>
        </div>
    </section>

{{>partials/footer}}